table {
  width: 100%;
}

tr.detail-row {
  height: 0;
  background-color: #f7f7f7;
}

tr.element-row:not(.expanded-row):hover {
  background: whitesmoke;
}

tr.element-row:not(.expanded-row):active {
  background: #efefef;
}

.element-row td {
  border-bottom-width: 0;
}

.cocktail {
    font-weight: bold;
    font-size: 15px;
}

.description {
  font-size: 15px;
    margin-bottom: 15px;
}

.user-details {
  opacity: 0.5;
  font-size: 15px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 70px;
}

.buyer-name {
  font-size: 17px;
}
.element-detail {
  overflow: hidden;
  display: flex;
}

.element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.drinkImg {
  max-width: 200px;
  max-height: 200px;
  margin-bottom: 17px;
}

.element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.element-description {
  padding: 16px;
}

.element-description-attribution {
  font-size: 24px;
  opacity: 0.5;
  display: contents;
}

.mat-header-cell {
  font-size: 15px;
}
